<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='/stylesheets/ui.css' />
</head>
<body class="page-{{namespace}}">
{{> gnb }}

<div class="container">
    {{{body}}}
</div>

<script src="javascript/bootstrap.min.js"></script>
<script src="javascript/ui.js"></script>
</body>
</html>
